* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
  --primary-color: #3e6ae1;
  --primar-hover-color: #3457b1;
  --secondry-color: #171a20;
  --grey-color: #393c41;
  --error-color:#B74134;
}

a {
  text-decoration: none;
}

@keyframes animmateDown {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(5px);
  }

  60% {
    transform: translateY(3px);
  }
}
